.teachers {
  display: flex;
  padding: 32px;
  padding-top: 16px;
  border-right: 1px solid rgb(231, 231, 234);
  height: 100vh;
  width: auto;
  background-color: rgb(252, 252, 252);

  .content {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  h1 {
    margin-bottom: 0px;
  }

  h3 {
    font-size: 14px;
    color: grey;
    margin-top: 0;
  }

  table {
    width: 100%;
    font-size: 14px;
    padding: 40px;
    border: 1px solid rgb(231, 231, 234);
    border-radius: 8px;

    th {
      text-align: left;
      font-size: 14px;
      color: gray;
    }

    tr {
      td {
        border-bottom: 1px solid rgb(231, 231, 234);
        padding: 16px 0;
      }

      img {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        float: left;
      }

      .name-id {
        display: inline-flex;
        flex-direction: column;
        margin-left: 8px;

        .id {
          color: gray;
        }
      }
    }
  }
}
